{erl_opts, [debug_info]}.
{deps, [
	{cowboy, {git, "https://github.com/ninenines/cowboy", {branch, "master"}}},
	{epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "master"}}},
	jsone,
	poolboy
]}.

%{shell, [
%	{config, "sys.config"},
%	{apps, [timeweb]}
%]}.

%{src_dirs, ["src"]}.

{relx, [{release, { timeweb, "0.1.0" },
         [timeweb, psql, sasl]},

        %{sys_config, "./config/sys.config"},
        {sys_config, "sys.config"},
        %{vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

