[
	{timeweb, [
		{cowboy, [
			{port, 9000}
		]}
	]},


{ psql,
        [
        {pools, [
            {main, [
                {size, 50},
                {max_overflow, 100}
            ], [
                {hostname, "localhost"},
                {database, "timeweb"},
                {username, "user"},
                {password, "password"}
            ]}
        ]}
        ]
}

].

